<div class="card-home-wrapper" [ngClass]="isEmptyHome ? 'show-hide' : ''">
    <div class="card-header" (click)="emitHomeDetailsModal()">
        <img *ngIf="!isEmptyHome" [src]="home.images[0]" alt="" class="card-home-img">
        <div class="header-info" *ngIf="!isEmptyHome">
            <p class="home-status">Casa en {{home.homeStatus == 'sale' ? 'venta' : 'arriendo'}}</p>
            <p class="home-price">$ {{home.price | number}}</p>
        </div>
    </div>
    <div class="card-body" *ngIf="!isEmptyHome">
        <span (click)="emitHomeDetailsModal()">
            <strong>{{home.bedrooms}}</strong> habitaciones
        </span>
        <span (click)="emitHomeDetailsModal()">
            <strong>{{home.bathrooms}}</strong> ba&ntilde;os
        </span>
        <span (click)="emitHomeDetailsModal()">
            <strong>{{home.area}}</strong> m2
        </span>
        <p class="home-address">
            <span (click)="emitHomeDetailsModal()">{{home.address}}</span>
        </p>
        <p class="home-neighborhood">
            <span (click)="emitHomeDetailsModal()">{{home.neighborhood}}</span>
        </p>
    </div>
    <!-- Body if Home is Empty -->
    <div class="card-body" *ngIf="isEmptyHome">
        <span>&nbsp;</span>
        <p class="home-address">&nbsp;</p>
        <p class="home-neighborhood">&nbsp;</p>
    </div>
</div>