<app-header></app-header>
<div class="homes-main-content" *ngIf="city.name">
    <!-- Only mobile controls -->
    <div class="mobile-toggle-view">
        <button (click)="changeMapViewStatus(true)">Map</button>
        <button (click)="changeMapViewStatus(false)">List</button>
    </div>
    <!-- Search main controls -->
    <section class="search-homes">
        <button>Example</button>
    </section>
    <!-- Map and list container -->
    <div class="homes-search-container" *ngIf="canLoadMap">
        <!-- Map container -->
        <div class="search-map-container" [ngClass]="{'focus' : !isMapVisible}">
            <app-map-homes [city]="city" [homes]="homes"></app-map-homes>
        </div>
        <!-- List container -->
        <div class="search-list-container" [ngClass]="{'focus' : isMapVisible}">
            <div class="search-list-header">
                <h1 class="search-title">Propiedades en: {{city.name}}, {{city.country}}</h1>
                <div class="search-extra-info">
                    <span>{{homes.length}} resultados</span>
                </div>
            </div>
            <ul class="list-homes-wrapper" *ngIf="canLoadMap">
                <li class="list-home-item" *ngFor="let home of homes">
                    <app-card-homes [home]="home"></app-card-homes>
                </li>
            </ul>
        </div>
    </div>
</div>