@import "src/assets/custom-variables"
@import "src/assets/custom-functions"

html
    font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif

body
    margin: 0
    line-height: 1.5
    color: #2A2A33

/* Estilos del mapa en homes*/
#map-homes 
    .gm-style-iw 
        padding: 0
        div
            overflow: hidden !important
    .gm-style-iw-t
        &:after
            display: none

/* Clases de filtros */
.icon
    &.primary
        filter: colorFilter(primary)
    