@import "src/assets/custom-variables"
@import "src/assets/custom-functions"

*,
html
    font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif
    box-sizing: border-box

html, body
    height: 100%

*, *:before, *:after 
    box-sizing: inherit

body
    margin: 0
    line-height: 1.5
    color: #2A2A33
    @include lg-screen
        overflow: hidden

li, ol, ul 
    list-style: none


/* Estilos del mapa en homes*/
#map-homes 
    .gm-style-iw 
        padding: 0
        div
            overflow: hidden !important
    .gm-style-iw-t
        &:after
            display: none

.hide
    display: none !important

.show
    opacity: 1 !important

/* Clases de filtros */
.icon
    &.primary
        filter: colorFilter(primary)

/* Modal styles */
.modal-backdrop
    background-color: rgba(43, 43, 43, 0.8)

/* Keyframes */
@keyframes showAndHide
  0%
    opacity: 0
  100%
    opacity: 1